<div class="menu">
    <a class="item-menu" href="#">· Seleccionar Usuario</a>
    <a class="item-menu" href="#marcar_punto">· Marcar Lugar</a>
    <a class="item-menu" href="#marcar_alerta">· Marcar Alerta</a>
    <a class="item-menu" href="#puntos">· Ver Lugares</a>
    <a class="item-menu" href="#ver_alertas">· Ver Aquí</a>
    <div style="margin: 15px;float: right;" ng-show="usuario" ng-controller="SeleccionarUsuario">Hola: {{usuario.nombre}}</div>
</div>   

<div class="inicio" ng-show="longitud" ng-controller="MarcarAlerta">
	<form method="POST" id="formulario_alerta" >
		<div class="titulo-inicio">MARCAR ALERTA!</div>

        <input type="hidden" name="usuario" value="{{ usuario.id }}">
        <input type="hidden" name="longitud" value="{{ longitud }}">
        <input type="hidden" name="latitud" value="{{ latitud }}">

		<div class="item-inicio">Título</div>

		<input class="input-inicio" ng-model="titulo_alerta" placeholder="Qué pasó ahi?"/>

		<textarea class="input-inicio" ng-model="descripcion_alerta" placeholder="Contános un poco más"></textarea>

		<div class="item-inicio">Categoría</div>
        <div  class="item-inicio" style="height: 220px;" >

            <select class="input-inicio" ng-model="categoria_seleccionada">
                <option ng-repeat="categoria in categorias | filter:filtro_categoria" class="select-inicio" value="{{categoria.id}}">
                    {{categoria.nombre}}
                </option>
                
            </select>
        </div>

        <div class="select-inicio" ng-show="categoria_seleccionada"  >
            <div align="center">
                <a  class="bt-siguiente" ng-click="enviar_alerta(usuario.id,titulo_alerta, descripcion_alerta, longitud, latitud,categoria_seleccionada )" style="cursor:pointer;">GUARDAR</a>
            </div>
        </div>        
	</form>
</div>
